body {
  font-family: Arial;
  margin: 0;
  background: #f5f5f5;
}

h1 {
  text-align: center;
}

#search, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
}

.card {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 60%;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: blue;
}